body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background: #181818;
  color: #fff;
}

a {
  color: #00B7FF;
}

.items {
  padding: 0;
  margin: 0;
  list-style: auto;
}

.content {
  width: 100%;
  text-align: left;
  border-bottom: 1px dashed #00B7FF;
  margin-bottom: 36px;
}